/* Selectors with aria-labels don't work because these labels are translated: */

/* a[aria-label="Twitter Ads info and privacy"] > svg {
    display: none;
} */

/* a[aria-label="Reply to this Tweet on Twitter"] {
    display: none;
} */

/* https://cssify.appspot.com/ */
/* https://github.com/santiycr/cssify */

/* Info button */
#app > div > div > div > article > div:nth-of-type(4) > a > svg {
  display: none;
}

/* Reply */
#app > div > div > div > article > div:nth-of-type(5) > a:nth-of-type(2) {
  display: none;
}

/* Follow */
#app > div > div > div > article > div:nth-of-type(1) > div:nth-of-type(2) > div > div > div > div > div {
  display: none;
}

/* Read replies  */
#app > div > div > div > article > div:nth-of-type(6) {
  display: none;
}

/* Copy link to Tweet */
#app > div > div > div > article > div:nth-of-type(5) > div {
  display: none;
}
